<div class="sidebar-content">
  {% if sidebar_extra_template is defined and sidebar_extra_template %}
    {% include sidebar_extra_template %}
  {% endif %}

  {% if current_user.is_authenticated %}
    <h3>Account Menu</h3>
    <ul>
      <li><a href="{{ url_for('dashboard.dashboard') }}">Member Home</a></li>
      <li><a href="{{ url_for('account.account') }}">Manage Account</a></li>
      <li><a href="{{ url_for('reset.change_password') }}">Change Password</a></li>
        {% if env.use_mfa %}
          {% if not current_user.mfa_enabled %}
            <li><a href="{{ url_for('mfa.mfa_setup') }}">Setup MFA</a></li>
          {% else %}
            <li><a href="{{ url_for('mfa.mfa_disable') }}">Manage MFA</a></li>
          {% endif %}
        {% endif %}
      <li><a href="{{ url_for('logout.logout') }}">Logout</a></li>
    </ul>

    <h3>Your Info</h3>
    <ul>
      <li><strong>User:</strong> {{ current_user.username }}</li>
      <li><strong>Joined:</strong> {{ current_user.created_at.strftime('%Y-%m-%d') }}</li>
      <li><strong>Role(s):</strong> {{ current_user.roles | map(attribute='name') | join(', ') }}</li>
      <li><strong>MFA:</strong>
        {% if current_user.mfa_enabled %}
          Enabled
        {% else %}
          Disabled
        {% endif %}
      </li>
    </ul>

    {% if current_user.is_admin %}
      {% include "admin/includes/menu.html" %}
    {% endif %}
  {% endif %}

</div>
