<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{ title or env.site_name }}</title>
  <meta name="description" content="{{ description or env.description }}">
  <meta name="keywords" content="{{ keywords or env.keywords }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}" />
  {% if enable_analytics %}
    <!-- Insert GA or Plausible script here -->
  {% endif %}
</head>
<body>
  <div class="page-container">
    {% block header %}{% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash-messages">
              <div class="{{ category }} flash">
                {{ message }}
                <button class="close-flash">×</button>
              </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="container layout-with-sidebar {{ sidebar_position | default('right') }}">
      {% if sidebar_position == 'left' %}
        <aside class="sidebar">{% include "admin/includes/sidebar.html" %}</aside>
      {% endif %}

      <main class="site-main">
        {% block content %}{% endblock %}
      </main>

      {% if sidebar_position == 'right' %}
        <aside class="sidebar">{% include "admin/includes/sidebar.html" %}</aside>
      {% endif %}
    </div>

    {% block footer %}{% endblock %}
  </div>
  <script nonce="{{ nonce }}">
    document.querySelectorAll('.close-flash').forEach(function(button) {
      button.addEventListener('click', function() {
        this.parentElement.style.display = 'none';
      });
    });
  </script>
</body>
</html>
