<div class="sidebar-content">
  <h3>Account Menu</h3>
	<ul>
      <li><a href="{{ url_for('dashboard.dashboard') }}">Member Home</a></li>
      <li><a href="{{ url_for('account.account') }}">Manage Account</a></li>
      <li><a href="{{ url_for('reset.change_password') }}">Change Password</a></li>
        {% if env.use_mfa %}
          {% if not current_user.mfa_enabled %}
            <li><a href="{{ url_for('mfa.mfa_setup') }}">Setup MFA</a></li>
          {% else %}
            <li><a href="{{ url_for('mfa.mfa_disable') }}">Manage MFA</a></li>
          {% endif %}
        {% endif %}
		<li><a href="{{ url_for('logout.logout') }}">Logout</a></li>
	</ul>

    <h3>Your Info</h3>
    <ul>
      <li><strong>User:</strong> {{ current_user.username }}</li>
      <li><strong>Joined:</strong> {{ current_user.created_at.strftime('%Y-%m-%d') }}</li>
      <li><strong>Role(s):</strong> {{ current_user.roles | map(attribute='name') | join(', ') }}</li>
      <li><strong>MFA:</strong>
        {% if current_user.mfa_enabled %}
          Enabled
        {% else %}
          Disabled
        {% endif %}
      </li>
    </ul>

    <h3>Admin Menu</h3>
    <ul>
      <li><a href="{{ url_for('admin.admin_home') }}">Admin Home</a></li>
      <li><a href="{{ url_for('settings.settings') }}">Site Settings</a></li>
      <li><a href="{{ url_for('plugins.list_plugins') }}">Applications</a></li>
      <li><a href="{{ url_for('register.register') }}">Register User</a></li>
      <li><a href="{{ url_for('users.list_users') }}">View Users</a></li>
    </ul>

    <h3>Quick Stats</h3>
    <ul>
      <li>
        <a href="{{ url_for('users.list_users') }}">
          Total Users: {{ quick_stats.total_users }}
        </a>
      </li>
      <li>Pending Users: {{ quick_stats.pending_users }}</li>
      {% if quick_stats.visitor_tracking_enabled %}
        <li>Online Users: {{ quick_stats.online_users }}</li>
        <li>Online Guests: {{ quick_stats.online_guests }}</li>
      {% else %}
        <li>Visitor Tracking: Disabled</li>
      {% endif %}
    </ul>
  </div>
