{% extends tpl_path ~ "/base.html" %}

{% block header %}
  {% include tpl_path ~ "/header.html" %}
{% endblock %}

<h2>{{ CALCULATE_HEADER }}</h2>

<table class="amort" width="95%" cellpadding="2" cellspacing="0">
    <tr class="center-align">
        <th>{{ LOAN_CALCULATE_PRICE }}</th>
        <th>{{ LOAN_CALCULATE_DOWN }}</th>
        <th>{{ LOAN_CALCULATE_PRINCIPAL }}</th>
        <th>{{ LOAN_CALCULATE_INTEREST }}</th>
        <th>{{ LOAN_CALCULATE_RATE }}</th>
        <th>{{ LOAN_CALCULATE_TOTAL }}</th>
    </tr>
    <tr class="center-align">
        <td>{{ CURRENCY_SYMBOLS }}{{ price }}</td>
        <td>{{ CURRENCY_SYMBOLS }}{{ down_payment }}</td>
        <td>{{ CURRENCY_SYMBOLS }}{{ total_principal }}</td>
        <td>{{ CURRENCY_SYMBOLS }}{{ total_interest }}</td>
        <td>{{ annual_interest_rate }}%</td>
        <td>{{ CURRENCY_SYMBOLS }}{{ total_loan_amount }}</td>
    </tr>
</table>

{% if Weekly %}
<h2>{{ CURRENCY_PAY_WEEK }} {{ CURRENCY_SYMBOLS }}{{ period_payment }}</h2>
{% endif %}
{% if Bi_weekly %}
<h2>{{ CURRENCY_PAY_BI_WEEK }} {{ CURRENCY_SYMBOLS }}{{ period_payment }}</h2>
{% endif %}
{% if Monthly %}
<h2>{{ CURRENCY_PAY_MONTH }} {{ CURRENCY_SYMBOLS }}{{ period_payment }}</h2>
{% endif %}

<fieldset>
    <legend>{{ CALCULATE_LEGEND }}</legend>
    <form action="{{ url_for('paycalc') }}" method="post">
        <p>{{ CALCULATE_PRICE_ENTER_HELP }}</p>
        <p><label for="loan_amount">{{ LOAN_AMOUNT }}</label>
        <input id="loan_amount" name="loan_amount" type="text" size="15" maxlength="10" value="{{ formprice }}" />
        </p>

        <p><label for="amount_down">{{ AMOUNT_DOWN }}</label>
        <input id="amount_down" name="amount_down" type="text" size="15" maxlength="10" value="{{ formamount }}" />
        </p>

        <p><label for="loan_length">{{ LOAN_LENGTH }}</label>
        <input id="loan_length" name="loan_length" type="text" size="15" maxlength="10" value="{{ formlength }}" /> Years
        </p>

        <p><label for="interest_rate">{{ INTEREST }}</label>
        <input id="interest_rate" name="interest_rate" type="text" size="6" maxlength="6" value="{{ forminterest }}" /> %
        </p>

        <p><label for="term">{{ TERM }}</label>
        <select id="term" name="term" size="1">
            <option value="Weekly" {% if Weekly %}selected{% endif %}>{{ CURRENCY_PAY_WEEK }}</option>
            <option value="Bi_weekly" {% if Bi_weekly %}selected{% endif %}>{{ CURRENCY_PAY_BI_WEEK }}</option>
            <option value="Monthly" {% if Monthly %}selected{% endif %}>{{ CURRENCY_PAY_MONTH }}</option>
        </select>
        </p>

        <p>
            <input name="submit" type="submit" value="{{ LOAN_CALC }}" />
            <input name="amort" type="checkbox" value="1" {% if amort %}checked{% endif %} /> {{ PAYCALC_SHOW_PAY_SCHEDULE }}
        </p>

        <p class="center_align">{{ LOAN_DISCLAIMER }}</p>
    </form>
</fieldset>

{% if line_item %}
<hr class="cleared" />
<table class="amort" width="95%" cellpadding="2" cellspacing="0">
    <tr>
        <th class="right-align">{{ PAYCALC_PAYMENT_NUM }}</th>
        <th class="right-align">{{ PAYCALC_PAYMENT }}</th>
        <th class="right-align">{{ PAYCALC_INTEREST }}</th>
        <th class="right-align">{{ PAYCALC_PRINCIPAL }}</th>
        <th class="right-align">{{ PAYCALC_BALANCE }}</th>
    </tr>

    {% for records in line_item %}
    <tr class="{{ records.evenrow }}">
        <td class="right-align">{{ loop.index }}</td>
        <td class="right-align">{{ CURRENCY_SYMBOLS }}{{ records.payment }}</td>
        <td class="right-align">{{ CURRENCY_SYMBOLS }}{{ records.interest }}</td>
        <td class="right-align">{{ CURRENCY_SYMBOLS }}{{ records.principal }}</td>
        <td class="right-align">{{ CURRENCY_SYMBOLS }}{{ records.balance }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% block footer %}
  {% include tpl_path ~ "/footer.html" %}
{% endblock %}

